.pro-img {
    width: 100%;
    border-radius: 50%;
}

.pro-img-div {
    width: 40%;
}

@media all and (max-width: 1000px) {
    .pro-img {
        width: 100%;
        border-radius: 50%;
        border: 8px solid #766161;
    }
    
    .pro-img-div {
        width: 50%;
        margin: 0 auto;
        position: relative;
        top: 70px;
    } 
}