footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

footer img {
    width: 1.1rem;
}

@media all and (max-width: 1000px){
    footer {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        position: absolute;
        bottom: 30px;
        margin: auto;       
    }
    
    footer img {
        width: 1.5rem;
    }
}