body {
    min-width: 375px;
    height: 100vh;
    padding: 5%;
    background: $myTeal;
    @include display(column);

    @media all and (min-width: 1150px) {
        padding: 0;
    }

    .App {
        background: $myYellow;
        box-shadow: $boxShadow;
        padding: 5%;
        border-radius: 10px;
        @include display(column);

        @media all and (min-width: 1150px) {
            @include display(row-reverse);
            width: 70%;
            margin: auto;
        }

        .pro-img-div {
            width: 40%;

            .pro-img {
                width: 100%;
                border-radius: 50%;
                border: 5px solid $myTeal;
            }
        }

        footer {
            width: 50%;
            text-align: center;
            margin: 2% 0;
            @include display(row);

            @media all and (min-width: 1150px) {
                @include display(column);
                position: relative;
                left: 13%;
                margin: 20px 0;
            }

            img {
                width: 50%;

                @media all and (min-width: 1150px) {
                    width: 25%;
                    margin: 20px 0;
                }
            }
        }

        .display {
            margin: 18px 0;
            text-align: center;
            width: 100%;
            border-bottom: 8px dashed $myBlack;

            @media all and (min-width: 1150px) {
                border: none;
                text-align: right;
                position: relative;
                left: 24%;
                width: 50%;
            }

            button {
                text-transform: uppercase;
                color: $myYellow;
                background: $myBlue;
                border: none;
                padding: 8px 18px;
                font-weight: bold;
                margin: 0 8px;
                border-radius: 5px;

                @media all and (min-width: 1150px) {
                    font-size: 1.8rem;
                    font-weight: 500;
                }

                &:hover {
                    background: $myTeal;
                    color: $myBlack;
                    cursor: pointer;
                }
            }

            p {
                margin: 20px;
                font-size: 1.3rem;
                font-weight: 500;
                color: $myTeal;

                @media all and (min-width: 1150px) {
                    font-size: 2rem;
                    font-weight: 300;
                    margin: 30px 0;
                }
            }
        }

        .like {
            width: 15%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @media all and (min-width: 1150px) {
                position: relative;
                left: 74.5%;
                top: 5%;
                width: 10%;
            }

            &:hover {
                cursor: pointer;
            }

            span {
                position: absolute;
                text-align: center;
                width: 100%;
                font-size: 25px;
                color: $myYellow;
            }
        }
    }
}